# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ipynb_checkpoints/

# Wolfram
*.nb.bak
*.wl.bak

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Source paper PDF (copyrighted — not redistributed)
*.pdf
